<footer class="page-footer font-small blue">
    <h4 class="text-center py-3"> Jai Maa Durga Traders </h4>
    <h5 class="text-center py-2"> Designed & developed by <a href="https://ujjwalkumar.live" target="blank"> Ujjwal Kumar </a> </h5>
    <div class="footer-copyright text-center py-2 mb-4"> © 2021 Copyright </div>
</footer>

<!-- Collapse -->
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Expand
</a>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>